@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 100vh;
  width: 100%;
}

.leaflet-control-attribution {
  display: none;
}

@media only screen and (max-width: 640px) {
  .leaflet-routing-alt {
    max-height: 240px;
  }
  .leaflet-routing-container {
    margin: 0 !important;
    padding: 0 !important;
    width: 90%;
    height: 100%;
  }
}
.leaflet-routing-container {
  padding-top: 0px;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
  left: 2px;
}
