@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  min-width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-control-attribution {
  display: none;
}

@media only screen and (max-width: 640px) {
  .leaflet-routing-alt {
    max-height: 240px;
  }
  .leaflet-routing-container {
    margin: 0 !important;
    padding: 0 !important;
    width: 90%;
    height: 100%;
  }
}
.leaflet-routing-container {
  padding-top: 0px;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
  left: 2px;
}
